<div class="bg-darkgray">

  <div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="login-box">
        <div class="login-logo">
          <div class="image">
            <img style="width: 150px; height: 150px;"
              src="https://cdn2.iconfinder.com/data/icons/logistics-delivery-19/64/logistics_delivery-07-512.png"
              class="">
          </div>
        </div>
        <!-- /.login-logo -->
        <div class="card">
          <div class="card-body login-card-body">
            <p class="login-box-msg">Sign in to start your session</p>


            <form class="user">
              <div class="form-group">
                <input type="email" class="form-control form-control-user" id="inputEmail" aria-describedby="emailHelp"
                  placeholder="Email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control form-control-user" id="inputPassword" placeholder="Password">
              </div>
              <!-- falta accion de login -->
              <input value="Login" type="submit" class="btn btn-dark bg-darkgray btn-user btn-block">

              <hr>
            </form>

            <div class="social-auth-links text-center mb-3">
              <p>- OR -</p>
              <button (click)="auth0.login()" class="btn text-white bg-dark btn-user btn-block">
                <i class="fas fa-shield-alt"></i> Login with Auth0
              </button>
              <button (click)="signInWithGoogle()" type="button" class="btn btn-primary btn-user btn-block">
                <i class="fab fa-google fa-fw"></i> Login with Google
              </button>
            </div>
            <!-- /.social-auth-links -->

          </div>
          <!-- /.login-card-body -->
        </div>
      </div>


    </div>
  </div>

</div>
