<div class="wrapper">

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
          class="nav-link">Home</a>
      </li>
    </ul>


    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Messages Dropdown Menu -->

      <!-- Notifications Dropdown Menu -->
      <li class="nav-item active">

        <div *ngIf="!user;else Otro">
          <a class="nav-link btn btn-primary" routerLink="/login">Login<span
            class="sr-only">(current)</span></a>
        </div>
        <ng-template #Otro>

        </ng-template>
        <div *ngIf="auth0.userProfile$ | async as profile;else Otros">
          <a class="btn btn-primary text-white"
          (click)="auth0.logout()">Logout Auth0</a>
        </div>
        <ng-template #Otros>
          <li><a *ngIf="auth.isloggedin()" class="btn btn-primary text-white" (click)="logout()">Cerrar Sesion</a></li>
        </ng-template>


      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img style="width: 45px; height: 45px;"
            src="https://cdn2.iconfinder.com/data/icons/logistics-delivery-19/64/logistics_delivery-07-512.png"
            class="">
        </div>
        <div class="info">
          <h4>
            <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
              class="d-block text-bold">Paquexpress</a>
          </h4>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview menu-open">
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']" routerLinkActive="active"
                  [routerLinkActiveOptions]="{exact: true}">
                  <i class="nav-icon fa fa-th"></i>
                  <p>Dashboard</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['usuarios']" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">

              <i class="nav-icon fa fa-user"></i>
              <p>
                Usuarios
                <span class="right badge badge-danger">New</span>
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['ciudades']" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">
              <i class="nav-icon fa fa-city"></i>
              <p>Ciudades</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['transportes']" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">
              <i class="nav-icon fa fa-truck"></i>
              <p>Transportes</p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fab fa-amazon"></i>
              <p>
                Productos
                <i class="fas fa-angle-left right"></i>
                <span class="badge badge-info right">2</span>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: none;">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['categorias']" routerLinkActive="active"
                  [routerLinkActiveOptions]="{exact: true}">
                  <i class="nav-icon fa fa-list-alt"></i>
                  <p>Categorias</p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['productos']" routerLinkActive="active"
                  [routerLinkActiveOptions]="{exact: true}">
                  <i class="nav-icon fab fa-amazon"></i>
                  <p>Productos</p>
                </a>
              </li>

            </ul>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['vendedores']" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">
              <i class="nav-icon fa fa-chart-line"></i>
              <p>Vendedores</p>
            </a>
          </li>

          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-book"></i>
              <p>
                Finanzas
                <i class="fas fa-angle-left right"></i>
                <span class="badge badge-info right">1</span>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: none;">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['TiposEnvio']" routerLinkActive="active"
                  [routerLinkActiveOptions]="{exact: true}">
                  <i class="nav-icon fas fa-shipping-fast"></i>
                  <p>Tipos de Envio</p>
                </a>
              </li>

            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['envios']" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">
              <i class="nav-icon fa fa-ship"></i>
              <p>Envios</p>
            </a>
          </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->


    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
      <!-- /.card -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <strong>Copyright &copy; 2014-2018 <a href="http://adminlte.io">AdminLTE.io</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 3.0.0-alpha
    </div>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
