<h1>{{title}}</h1>


<div class="row text-right">
<div class="col">
  <button class="btn btn-outline-danger"
  routerLink="/TiposEnvio">
    <i class="fa fa-arrow-left"></i>
    Regresar
  </button>
</div>
</div>


<div class="row animated fadeIn faster">
<div class="col">

  <form (ngSubmit)="guardar( f )"
  #f="ngForm"
  >
    <div class="form-group">
      <label for="">ID</label>
      <input type="text" class="form-control"
      [(ngModel)]="tenvios.id"
      name="id"
      disabled="disabled"
      placeholder="ID">
      <small class="form-text text-muted">Este campo es autogenerado</small>
    </div>


    <div class="form-group">
      <label for="">Nombre</label>
      <input type="text"
      class="form-control"
      [(ngModel)]="tenvios.Nombre"
      name="Nombre"
      placeholder="Nombre de la categoria"
      required
      >
    </div>

    <div class="form-group">
      <label for="">Tiempo de entrega en dias:</label>
      <input type="number"
      class="form-control"
      [(ngModel)]="tenvios.Tiempo"
      name="Descripcion"
      placeholder="Tiempo de entrega"
      required
      >
    </div>

    <div class="form-group text-center">
      <button
      class="btn btn-outline-success">
      <i class="fa fa-save" ></i>Guardar</button>

    </div>

  </form>

</div>
</div>
